@import 'tailwindcss';

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../assets/fonts/Gilroy-ExtraBold.otf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@custom-variant hover (&:hover);

@layer utilities {
    .hide-empty > *:has(textarea:blank) {
      display: none;
    }
}

astro-island {
  display: unset !important;
  width: 100%;
}
