---
import Form from "../components/Form.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <section class="w-full flex flex-col md:flex-row md:justify-between md:items-center gap-4 py-4 mt-0">
    <Title text="Configuración de IA Aurelia" />
    {/* <button onclick="window.location.href='/VerPrompt'" class="bg-[#976FF1] rounded-lg text-white text-lg w-48 hover:cursor-pointer transition-all duration-150 active:scale-95 flex items-center justify-center gap-2">Ver prompt completo</button> */}
  </section>
  <Form />
</Layout>
