---
import LinkButton from "./LinkButton.astro";
const { disableLinks = false } = Astro.props;

const links = [
  {
    href: '/',
    text: 'Configurar IA',
    disabled: false
  }, 
  {
    href: '/playground/',
    text: 'Playground',
    disabled: disableLinks
  },
  {
    href: '/avanzado/',
    text: 'Avanzado',
    disabled: disableLinks
  }
];
---

<nav class="w-[220px] h-full text-right fixed top-0 left-0">
    <ul class="flex flex-col gap-4 pt-20">
        {links.map(link => (
            <LinkButton href={link.href} text={link.text} disabled={link.disabled} />
        ))}
    </ul>
</nav>
